<table class="table table-striped">
  <thead>
    <tr>
      <th>Pregunta</th>
      <th>Respuesta</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="items?.length > 0">
    <tr *ngFor="let item of items">
      <td>{{ item.question }}</td>
      <td>{{ item.answer }}</td>
      <td>
      	<button type="button" class="btn btn-default btn-sm" (click)="editItem($event, item)">
      		<i class="fa fa-pencil-square-o"></i>
      	</button>
      </td>
      <td>
      	<button type="button" class="btn btn-danger btn-sm" (click)="deleteItem($event, item)">
      		<i class="fa fa-trash-o"></i>
      	</button>
      </td>
    </tr>
  </tbody>
	<tbody *ngIf="items?.length === 0">
    <tr>
      <td colspan="4">Sin registros</td>
    </tr>
  </tbody>
</table>