<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Crud</h1>
  </div>
</div>
<div class="container">
	<app-modal></app-modal>

	<div class="row">
    <div class="col text-right">
    	<button class="btn btn-success btn-sm" (click)="openModal()">
		  	<i class="fa fa-plus"></i>
		  </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col text-center">
    	<app-table [openModal]="openModal" class="d-block w-100"></app-table>
    </div>
  </div>
</div>