<ng-template #content let-close="close" let-dismiss="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Formulario</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="inputsForm" (submit)="onSubmit()"> 
      <div class="form-group">
        <label for="field-question" class="col-form-label">Pregunta:</label>
        <input type="text" id="field-question" name="question" formControlName="question" [(ngModel)]="item.question" class="form-control">
      </div>
      <div class="form-group">
        <label for="field-answer" class="col-form-label">Respuesta:</label>
        <input type="text" id="field-answer" name="answer" formControlName="answer" [(ngModel)]="item.answer" class="form-control">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="close('')">Cerrar</button>
    <button type="submit" class="btn btn-primary" [disabled]="!inputsForm.valid || sending" (click)="onSubmit()">Guardar</button>
  </div>
</ng-template>